<!-- Go ahead and add your name -->
<!-- Add a picture of yourself -->

<!-- Include leadership positions, skills, or any other sections you
 would like to add to your online resume-->
<!-- use list element if you are adding multiple things under each section
 such as Leadership, Skills -->

<div id = "resume-container">
    <p id = "name"> Kaitlyn Eng </p>
    <div id = "picture"> <img src="images/kaitlyn-image.jpg" alt="Kaitlyn Eng Picture"> </div>
    <div id = "contact-info">
        <h2> Contact Information </h2>
        <p> Email:
    </div>
    <div id = "education">
        <h2> Education </h2>
        <p> University of California, Santa Cruz </p>
        <p> Bachelor of Science in Computer Science and Engineering </p>
        <p> Expected Graduation: June 2026 </p>
    </div>
    <div id = "current-age">
        <h2> Current Age </h2>
        <p> {{ getAge() }} years old </p>
    </div>
    <div class = "two-column-wrapper">
        <div id = "experience">
            <h2> Previous Experience </h2>
            <ul>
                <li> Collegiate Club Program Ambassador (Slug Gaming at UC Santa Cruz) </li>
                <li> Slug Gaming Manager </li>
                <li> Elements of Web Design Intern </li>
            </ul>
        </div>
        <div id = "skills">
            <h2> Skills </h2>
            <ul>
                <li> Programming Languages: Python, Java, C, C++, Haskell </li>
                <li> Web Development: HTML, CSS, JavaScript </li>
                <li> Frameworks: React, Node.js, Phaser </li>
                <li> Tools: Git, Github, VSCode, Figma, Docker, AWS </li>
            </ul>
        </div>
    </div>
    <div id = "courses">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> Courses </mat-panel-title>
                <mat-panel-description> 2025 </mat-panel-description>
            </mat-expansion-panel-header>
            <p class = "season">Winter</p>
            <ul>
                <li><b>CSE 102:</b> Intro Algorhm Anyl</li>
                <li><b>CSE115A:</b> Intro Software Eng</li>
                <li><b>FILM 80V:</b> Video Games/Culture</li>
            </ul>
            <p class = "season">Spring</p>
            <ul>
                <li><b>ART 106O:</b> 2D Animation</li>
                <li><b>CMPM 120:</b> Game Develop Exp</li>
                <li><b>ECE 30:</b> Engr Prin of Elec</li>
            </ul>
            <p class = "season">Fall</p>
            <ul>
                <li><b>CMPM15:</b> Research Explorations</li>
                <li><b>CMPM 118:</b> Rsrch Exp in ENG</li>
                <li><b>CMPM121:</b> Game Dev Patterns</li>
                <li><b>CMPM176:</b> Game Systems</li>
            </ul>
        </mat-expansion-panel>
    </div>
</div>