<!-- Go ahead and add your name -->
<!-- Add a picture of yourself -->

<!-- Include leadership positions, skills, or any other sections you
 would like to add to your online resume-->
<!-- use list element if you are adding multiple things under each section
 such as Leadership, Skills -->

<div id = "resume-container">
    <p id = "name"> Kaitlyn Eng </p>
    <div id = "picture"> <img src="images/kaitlyn-image.jpg" alt="Kaitlyn Eng Picture"> </div>
    <div class = "two-column-wrapper">
        <div id = "experience">
            <h2> Previous Experience </h2>
            <ul>
                <li> Collegiate Club Program Ambassador (Slug Gaming at UC Santa Cruz) </li>
                <li> Slug Gaming Manager </li>
                <li> Elements of Web Design Intern </li>
            </ul>
        </div>
        <div id = "skills">
            <h2> Skills </h2>
            <ul>
                <li> Programming Languages: Python, Java, C, C++, Haskell </li>
                <li> Web Development: HTML, CSS, JavaScript </li>
                <li> Frameworks: React, Node.js, Phaser </li>
                <li> Tools: Git, Github, VSCode, Figma, Docker, AWS </li>
            </ul>
        </div>
    </div>
</div>